<div class="space"></div>

<!-- Padre -->
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <!-- 70% del padre -->
  <div class="menuDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">

    <div fxLayoutAlign="start center">
      <mat-icon>folder</mat-icon>
      <span class="nameCompany">My Company</span>
    </div>

    <!-- El truco de la linea -->
    <div class="bRed" fxFlex></div>
    <div fxShow fxHide.xs>Text 1 | Text 2 | Text 3 | Text 4</div>

    <!-- Boton del menu: No despliega pero no importa -->
    <div fxHide fxShow.xs>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>

  <!-- 1ra Fila -->
  <div class="primerafila" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div class="divA" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%"  fxLayoutAlign="center center">One</div>
    <div class="divB" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%"  fxLayoutAlign="center center">Two</div>
    <div class="divC" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Three</div>
  </div>

  <div class="space"></div>
  <br>

  <!-- 2da Fila -->
  <div class="primerafila" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayout="row wrap">
      <div class="divD" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Four</div>
      <div class="divE" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Five</div>
    </div>
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%">
      <div class="divF" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Six</div>
    </div>
  </div>

  <br>  

  <!-- 3ra Fila -->
  <div class="primerafila" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div fxFlex="80%" fxFlex.sm="80%" fxFlex.xs="100%" fxLayout="row wrap">
      <div class="divG" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Seven</div>
    </div>
    <div fxFlex="20%" fxFlex.sm="20%" fxFlex.xs="100%" fxLayout="row wrap">
      <div class="divH" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Eigth</div>
      <div class="divI" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Nine</div>
      <div class="divJ" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Ten</div>
    </div>
  </div>


  <!-- 4ta Fila -->
  <div class="primerafila" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
      <div class="bigDiv" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">Hello World</div>
    </div>
    <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
      <div class="divL" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">Twelve</div>
      <div class="divM" fxFlex="100%" fxFlex.sm="33%" fxFlex.xs="33%" fxLayoutAlign="center center">Thirteen</div>
      <div class="divN" fxFlex="100%" fxFlex.sm="34%" fxFlex.xs="34%" fxLayoutAlign="center center">Fourteen</div>
    </div>
  </div>

  <div class="footer" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
    All Rigths Reserved
  </div>
</div>